- provide(:title, 'Add Employee')
%h2  New Employee
%h3
=form_for(@employee) do |f|
  =render 'shared/employee_error_messages', object: f.object
  =render 'fields', f:  f
  .actions
    = f.submit "Save", class: 'save strong round'

