.field
  = client.label :name
  = client.text_field :name, data: {autocomplete_source: clients_path}
.field
  = client.label :zip_code, "Zip Code"
  %br/
  = client.text_field :zip_code, :size => 15, :class => "ui-state-default"