- provide(:title, 'Edit Contract')
%h2 Edit Contract
= form_for(@contract) do |contract|
  =render 'shared/contract_error_messages', object: contract.object
  =render 'fields', contract:  contract
  .actions
    = contract.submit "Update", class: 'save strong round'
