<% if @contract.errors.any? %>
  <div id="error_explanation">
    <h5><%= pluralize(@contract.errors.count, "error") %>
      prohibited this contract from being saved:</h5>
    <p>There were problems with the following fields:</p>
    <ul>
    <% @contract.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
