- provide(:title, 'Edit')
%h4 Editing the New Contract
%br/
= form_for(@codeline) do |codeline|
  = render 'fields', codeline: codeline
  .actions
  = codeline.submit "Update", class: 'update strong round'
