- provide(:title, 'New Contract')
%h2 New Contract
= form_for(@codeline) do |codeline|
  = render 'shared/codeline_error_messages', object: codeline.object
  = render 'form_fields', codeline: codeline
  .actions
    = codeline.submit "Save", class: 'save strong round'  