- provide(:title, "Codelines")
%h3
  = @codeline.client.cli_full_name
  %br/
  %ol.clients
/    - @codeline.client.each do |client|
/      %li
/      = client.f_name
/      = client.l_name
= link_to 'Edit', edit_codeline_path(@codeline) 
\#{link_to 'Back to Codelines', codelines_path}