- provide(:title, 'About Us')
!!!
%html
  %head
    %title 
      Time and it's Cost | #{ yield(:title) }
  %body
    %h1 About Us
    %h2
      %p
        This is the About Us page for 'Time and it's Cost'
