- provide(:title, 'Contact')
!!!
%html
  %head
    %title 
      Time and it's Cost | #{ yield(:title) }
  %body
    %h1 Contact
    %h2
      %p
        This is the Contact page for 'Time and it's Cost'
