- provide(:title, 'Help')
!!!
%html
  %head
    %title 
      Time and it's Cost | #{ yield(:title) }
  %body
    %h1 Help
    %h2
      %p
        For Help on filling-out the timesheet forms contact your supervisor or admin.
  
