.container {
  width: 850px;
}

body {
  background: #F5f5f5;
}

header {
  padding-top: 20px;
}

header img {
  padding: .3em;
  background: #d87093;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20%;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #000080;
  text-decoration: none;
}

a:hover {
  color: #800080;
  text-decoration: underline;
}

a:visited {
  color: #4b0082;
}

/* Navigation */

header nav {
  float: right;
  background: #98fb98;
  padding: 0 0.3em;
  white-space: nowrap;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  float: left;
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

header nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #000080;
}

header nav ul li a:visited {
  color: #4b0082;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Round Corners */

.round {
  -moz-border-radius:     10px;
  -webkit-border-radius:  10px;
  border-radius:          10px;
}

/* Footer */

footer nav {
  float: none;
  text-align: center;
  margin-top: 10px;
  width: 850px;
  background: #98fb98;
  padding: 0 0.3em;
  white-space: nowrap;
}

footer nav ul {
  margin: 0;
  padding: 0;
}

footer nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0.2em 0;
}

footer nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #000080;
}

footer nav ul li a:visited {
  color: #4b0082;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

/* Error messages */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Register Button */

a.register_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
  text-align: center;
  color: #fff;
  background: #006400;
  font-size: 110%;
  font-weight: bold;
  padding: 5px;
}

