<nav class="round">
  <ul>
    <li><strong class="round"><%= link_to "About", about_path %></strong></li>
    <li><strong class="round"><%= link_to "Contact", contact_path %></strong></li>
  </ul>
</nav>
<footer class="round">
</footer>

