<header class="round">
<%= link_to logo, root_path %>
</header>
<nav class="round">
  <ul>
    <li><strong class="round"><%= link_to "Home", root_path %></strong></li>
    <li><strong class="round"><%= link_to "Help", help_path %></strong></li>
    <li><strong class="round"><%= link_to "Register", register_path %></strong></li>
  </ul>
</nav>
